<% include ../partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header"><%= blog.title %></div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%= blog.image%>" >
			<div class="content">
				<span><%= blog.created.toDateString() %></span>
			</div>
			<div class="description">
				<p> <%- blog.body %> </p>
			</div>

			<div class="content">
				<span>Created By:  <b><%= blog.author.username %></b></span>
			</div>
			<br>
			<div class="ui grid blog-button">
				<div class="four wide column">
					<form  action="/blogs/<%= blog._id %>/like?_method=PUT" method="POST">
						<div class="ui labeled small button" tabindex="0">
							<button class="ui small blue button">
								<i class="heart icon"></i> Like
							</button>
							<a class="ui basic blue small left pointing label">
								<%= blog.likecount %>
							</a>
						</div>
					</form>
				</div>
				<div class="five wide column">
					<a href="/blogs/<%= blog._id %>/comments/new" class="ui large blue button delete">Add comment</a>
				</div>
			</div>
				<br>
			<% if((blog.author.username === currentUser.username)|| currentUser.type === 'admin'){ %>
				<a class="button ui orange " href="/blogs/<%= blog._id %>/edit">Edit</a>
				<form class = "delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
					<button class="ui red button">Delete</button>
				</form>
			<% } %>
		</div>
		<div class="comments">
			<% arr.forEach(function(comment){ %>
				<div class="comment">
						<b><%= comment.author.username %></b>
						<br>
						<%= comment.text %>
						<br>
						<div class="delete">
							<a href="/blogs/<%= blog._id %>/comments/<%=comment._id%>/edit" class="ui orange mini basic button">edit</a>
							<form class="delete" action="/blogs/<%= blog._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
								<button class="ui red mini basic button ">delete</button>
							</form>
						</div>	
				</div>
			<% }) %>
		</div>
		
	</div>
	
</div>

<% include ../partials/footer %>